name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
     - name: Echo
       run:  echo ${{ secrets.DOCKERHUB_USERNAME }}

     - name: Current Dir
       run:  ls

     - name: Login
       run: docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }}
      
     - name: Build
       run: docker image build -f Dockerfile -t arthofer93/my-firstimage:0.0.1 ./
      
     - name: publish
       run: docker image push arthofer93/my-firstimage:0.0.1
