name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

     - name: Set up Go 1.x
       uses: actions/setup-go@v2
       with:
         go-version: ^1.15
       id: go

     - name: Check out code into the Go module directory
       uses: actions/checkout@v2

     - name: Install golang-migrate
       run: |
        curl -L https://github.com/golang-migrate/migrate/releases/download/v4.12.2/migrate.linux-amd64.tar.gz | tar xvz
        sudo mv migrate.linux-amd64 /usr/bin/migrate
        which migrate

     - name: Test
       run: go test -v

     - name: Echo
       run:  |
             git_hash=$(git rev-parse --short "$GITHUB_SHA")
             echo "Sha: ${{ steps.vars.outputs.git_hash }} - $GITHUB_SHA" 

     - name: Login
       run: docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }}
      
     - name: Build
       run: docker image build -f ./Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/my-firstimage:0.0.1 ./

     - name: Tag image
       run: docker tag ${{ secrets.DOCKERHUB_USERNAME }}/my-firstimage:0.0.1 ${{ secrets.DOCKERHUB_USERNAME }}/my-firstimage:$GIT_SHA
      
     - name: publish
       run: docker image push ${{ secrets.DOCKERHUB_USERNAME }}/my-firstimage:0.0.1 | docker image push ${{ secrets.DOCKERHUB_USERNAME }}/my-firstimage:$GIT_SHA
